* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	color: #00ff00;
	font-size: 1.75rem;
	text-align: center;
}

h2 {
	color: blue;
	font-size: 1.5rem;
	text-align: center;
}

h3 {
	color: purple;
	font-size: 1.25rem;
}

h3:before, section:after {
	content:"\A";
	white-space: pre;
}

img {
	clear: both;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 5px 0;
}

nav {
	background-color: black;
	margin-bottom: 20px;
}

nav a:hover, nav a:active {
	background-color: #666666;
}

nav li {
	background-color: black;
	border-right: 1px solid #999999;
	float: left;
	padding: 5px 10px;
}

nav li:hover, nav li:active {
	background-color: #666666;
}

nav li a {
	color: #00ccff;
	text-decoration: none;
}

nav ul {
	font-size: 1.25rem;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

p {
	display: table;
	font-size: 1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.imgContain li:first-child {
	padding-left: 0;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
	display: block;
}

.dropdown-content {
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
	display: none;
	margin-left: -10px; /* Needed for proper alignment due to inherited 10px padding */
	position: absolute;
	z-index: 1;
}

.dropdown-content:hover, .dropdown-content:active {
	background-color: #666666;
}

.dropdown-content a {
	background-color: black;
	display: block;
	font-size: 1.25rem;
	padding: 5px 10px;
}

.dropSpan {
	color: #00ccff;
}

.imgContain {
	display: table;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.imgContain li {
	display: block;
	float: left;
	padding-right: 5px;
}

.returnLink {
	border-left: 1px solid #999999;
	border-right: none;
	float: right;
}

#currentLink {
	color: white;
}

@media screen and (max-width: 1200px) {
	nav li {
		text-align: center;
		width: 50%;
	}
	
	.dropdown-content {
		width: 50%; /* In case calc is not supported */
		width: -moz-calc(50% - 8px);
		width: -webkit-calc(50% - 8px);
		width: calc(50% - 8px); /* To counteract one 8px margin of the document body */
	}
	
	.dropdown-content a {
		background-color: #222222;
	}
	
	.returnLink {
		border-left: none;
		border-right: 1px solid #999999;
		float: left;
	}
}

@media screen and (max-width: 600px) {
	nav li {
		text-align: center;
		width: 100%;
	}
	
	.dropdown-content {
		width: 100%; /* In case calc is not supported */
		width: -moz-calc(100% - 16px);
		width: -webkit-calc(100% - 16px);
		width: calc(100% - 16px); /* To counteract two 8px margins of the document body */
	}
	
	.dropdown-content a {
		background-color: #222222;
	}
}
