* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	color: #00ff00;
	font-size: 1.75rem;
	text-align: center;
}

h2 {
	color: blue;
	font-size: 1.5rem;
	text-align: center;
}

h3 {
	color: purple;
	font-size: 1.25rem;
}

iframe {
	display: block;
	margin: auto;
}

li a {
	color: #00ccff;
	text-decoration: none;
}

nav {
	background-color: black;
	margin-bottom: 20px;
}

nav a:hover, nav a:active {
	background-color: #666666;
}

nav li {
	background-color: black;
	border-right: 1px solid #999999;
	float: left;
	padding: 5px 10px;
}

nav li:hover, nav li:active {
	background-color: #666666;
}

nav ul {
	font-size: 1.25rem;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

section {
	margin-bottom: 40px;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
	display: block;
}

.dropdown-content {
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
	display: none;
	margin-left: -10px; /* Needed for proper alignment due to inherited 10px padding */
	position: absolute;
	z-index: 1;
}

.dropdown-content:hover, .dropdown-content:active {
	background-color: #666666;
}

.dropdown-content a {
	background-color: black;
	display: block;
	font-size: 1.25rem;
	padding: 5px 10px;
}

.dropSpan {
	color: #00ccff;
}

.returnLink {
	border-left: 1px solid #999999;
	border-right: none;
	float: right;
}

#currentLink {
	color: white;
}

@media screen and (max-width: 1200px) {
	nav li {
		text-align: center;
		width: 50%;
	}
	
	.dropdown-content {
		width: 50%;
	}
	
	.dropdown-content a {
		background-color: #222222;
	}
	
	.returnLink {
		border-left: none;
		border-right: 1px solid #999999;
		float: left;
	}
}

@media screen and (max-width: 600px) {
	nav li {
		text-align: center;
		width: 100%;
	}
	
	.dropdown-content {
		width: 100%;
	}
	
	.dropdown-content a {
		background-color: #222222;
	}
}